
@{
    ViewBag.Title = "Unauthorised";
}

<h2>Unauthorised</h2>

<script>
        window.onload = function() {
            alert('@ViewBag.Message');
        };
        // Redirect to the desired location after showing the alert
        window.location.href = "/Article/Index";
</script>