@model Dropdown.Models.Cascading
@{
    ViewBag.Title = "Index";
}

<h2>Cascading dropdown</h2>

@if (ViewBag.CountryList != null)
{
    @Html.DropDownListFor(m => m.Cid, ViewBag.CountryList as SelectList, "--Select Country Name--", new { @class = "form-control", id = "Cid" })


}



@Html.DropDownListFor(m => m.Sid, new SelectList(""), "--Select States--", new { @class = "form-control", id = "Sid" })
@Html.DropDownListFor(m => m.Cityid, new SelectList(""), "--Select Cities--", new { @class = "form-control", id = "Cityid" })

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#Cid").change(function () {
            var countryid = $(this).val();
            $.ajax({
                type: "get",
                url: "/Cascading/GetStateList?cid=" + countryid,
                success: function (response) {
                    $("#Sid").empty();
                    $.each(response, function (index, item) {
                        $("#Sid").append('<option value="' + item.Value + '">' + item.Text + '</option>');
                    });
                }
            });
        });
        $("#Sid").change(function () {
            var stateid = $(this).val();
            $.ajax({
                type: "get",
                url: "/Cascading/GetCityList?sid=" + stateid,
                success: function (response) {
                    $("#Cityid").empty();
                    $.each(response, function (index, item) {
                        $("#Cityid").append('<option value="' + item.Value + '">' + item.Text + '</option>');
                    });
                }
            });
        });
    });
</script>

@*<script>
    $(document).ready(function () {
        $("#Sid").change(function () {
            var stateid = $(this).val();
            $.ajax({
                type: "get",
                url: "/Cascading/GetCityList?sid=" + stateid,
                success: function (response) {
                    $("#Cityid").empty();
                    $.each(response, function (index, item) {
                        $("#Cityid").append('<option value="' + item.Value + '">' + item.Text + '</option>');
                    });
                }
            });
        });
    });
</script>*@