body {
}
#cardProperty {
    width: 18rem; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#cards {
    width: 20rem;
    color: black;
    text-decoration: none;
    border-style: none;
}

.background-radial-gradient {
    background-color: hsl(218, 41%, 15%);

}

#comments {
    margin-top: 30px;
}

.bg-glass {
    background-color: hsla(0, 0%, 100%, 0.9) !important;
    backdrop-filter: saturate(200%) blur(25px);
}
.author {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 20px;
    color: #666;
}


.containerArticle {
    margin: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#comments {
    margin-top: 30px;
}

.containerContribute {
    margin-top: 80px;
    margin-left: 250px;
    margin-right: 250px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contributeArticle {
    background: url('./assets/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
}
.mainBack {
    background: url('./assets/main1.jpg');
    height: 550px;
   background-repeat: no-repeat;
   overflow:hidden;
    background-size:cover;
    background-position: center; /* Centers the image within the element */
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size:larger
}