<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="dbconn" value="data source=EPINHYDW0BE8\\MSSQLSERVER01;initial catalog=WordVoyager;integrated security=true"/>
	</appSettings>
	<connectionStrings>
		<add name="conn" connectionString="Data Source=EPINHYDW0BE8\MSSQLSERVER01;Initial Catalog=WordVoyager;Integrated Security=True;"/>
	</connectionStrings>
</configuration>