<p>productlist works!</p>

<div *ngIf="userRole === 'admin'">
  <p>Welcome, Admin! You have access to all features.</p>
  <!-- Additional content for admin users -->
</div>

<div *ngIf="userRole !== 'admin'">
  <p>Welcome, User! You have limited access.</p>
  <!-- Additional content for non-admin users -->
</div>


<div [ngSwitch]="color">
  <p *ngSwitchCase="'red'">The color is red.</p>
  <p *ngSwitchCase="'green'">The color is green.</p>
  <p *ngSwitchCase="'blue'">The color is blue.</p>
  <p *ngSwitchDefault>Unknown color.</p>
</div>





<!--<h3>Name : Chair</h3>
<h3>Price : 500</h3>
<h3>Color : Black</h3>-->
<img [src]="Product.imgUrl" height="200" width="200" />
<h3>Name : {{ Product.Name }}</h3>
<h3>Price : {{ Product.Price }}</h3>
<h3>Color : {{ Product.Color }}</h3>
<!--<h3>Discounted price : {{ Product.Price - Product.Price*Product.Discount/100 }}-->

<h3>Discounted Price : {{ getDiscountPrice() }}</h3>

<h2>Event Binding</h2>
<button (click)="onClick()">Click me</button>

<h2>Two-way data binding</h2>
<input type="text" [(ngModel)]="name">
<h4>Hello {{name}},Good morning!</h4>

<div *ngFor="let item of list">
  <p>Current element : {{item}}</p>
</div>


<div *ngFor="let item of productsList">
  <p>{{item.name}} - Price : {{item.price}}</p>
</div>
